<%- include('partials/header'); -%>

 <div class="Dairy">

   <% posts.forEach(function(post){%>

   <div class="in-Diary px-3 py-3 pt-md-5 pb-md-4 mx-auto">
     <h1 class="display-4"><%=post.title%></h1>
       <p class="lead"><%=post.subcont%> .... <span><a href="/post/<%=post.title%>" >Read more </a>  </span> </p>
    </div>
     <% }); %>
    </div>
<%- include('partials/footer'); -%>
