<%- include('partials/header'); -%>

 <div class="Dairy container">

   <% posts.forEach(function(post){%>
<div class="row">
   <div class="in-Diary col-lg-12">
     <h1><%=post.title%></h1>
       <p><%=post.subcont%> .... <span><a href="/post/<%=post.title%>" >Read more </a>  </span> </p>
    </div>
     <% }); %>
    </div>
</div>
<%- include('partials/footer'); -%>
